@tailwind base;
@tailwind components;
@tailwind utilities;



details summary::marker{
    display: none;
    margin: 0;
    font-size: 0;
    
}


summary {
    list-style-type: none; /* 그 외의 브라우저용 사용자 정의 스타일 */
    list-style: none;
}